.cabecalho__navbar {
  background-color: white !important;
}

.link__logotipo {
  width: 60px;
  border-radius: 100%;
}

.links__item {
  font-family: "Fredoka";
  font-size: 2.2em;
  color: #014040;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  position: relative;
  transition: 0.4s ease;
  box-sizing: border-box;
}

.links__item:hover {
  color: #02735e !important;
  cursor: pointer !;
}

.links__item:focus {
  appearance: none !important;
  border: 3px solid #014040 !important;
}

@media screen and (min-width: 992px) {
  .container__collapse {
    position: relative;
  }
  .collapse__links {
    position: absolute;
    right: 0;
  }
}

@media screen and (max-width: 991px) {
  .container__menuMobile {
    position: relative;
    border: 2px solid #110726;
  }

  .container__menuMobile span {
    background-image: url("../../assets/menu.png") !important;
  }

  .collapse__links {
    margin-top: 1.5rem;
    background-color: #110726;
    padding: 1rem 0;
    border-radius: 8px;
  }

  .links__item {
    color: white;
    padding: 0.5rem 1rem;
    margin: 0;
    display: inline-block;
  }
}

/* acessibilidade */
@media (prefers-reduced-motion: reduce) {
  .links__item:hover::before {
    width: 0%;
  }
}

@media (prefers-contrast: more) {
  .links__item:hover {
    color: #4429a6 !important;
  }

  .links__item:focus {
    appearance: none !important;
    border: 2px solid #4429a6 !important;
  }
}
